[submodule "deps/bootstrap"]
	path = deps/bootstrap
	url = git://github.com/twitter/bootstrap.git
[submodule "deps/CodeMirror2"]
	path = deps/CodeMirror2
	url = git://github.com/marijnh/CodeMirror2.git
