<h4>Powered by</h4>
<ul>
  <li><a target="_blank" href="http://nodejs.org/">node.js</a></li>
  <li><a target="_blank" href="http://socket.io/">Socket.IO</a></li>
  <li><a target="_blank" href="http://wiki.eclipse.org/Orion">Eclipse Orion web client editor</a></li>
  <li><a target="_blank" href="http://code.google.com/p/google-diff-match-patch/">google-diff-match-patch</a></li>
  <li><a target="_blank" href="http://www.mongodb.org/">MongoDB</a></li>
</ul>
<h4>Source code on github</h4>
<ul>
  <li><a target="_blank" href="https://github.com/sugyan/live-coder">https://github.com/sugyan/live-coder</a></li>
</ul>
