<div id="code"></div>
<div class="head_line status_line"></div>
<div class="head_line menu">
  <div class="menu_item" id="close">x</div>
  <div class="menu_item selected">chat</div>
  <div class="menu_item">detail</div>
</div>
<div class="menu_window" id="detail">
<h4>URL</h4>
<div>
  <a href="<%= home + path_for('/view/' + session.user.name) %>"><%= home + path_for('/view/' + session.user.name) %></a>
  <a href="http://twitter.com/share" class="twitter-share-button" data-text="I'm livecoding now! #livecoder" data-count="none" data-url="<%= home + path_for('/view/' + session.user.name) %>">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
</div>
<h4 id="viewers">viewers</h4>
<ul id="viewers_list">
</ul>
</div>
<div class="menu_window" id="chat">
  <form id="message_form">
    <input type="text" placeholder="message" id="message" class="message">
    <input type="submit" value="send">
  </form>
  <dl id="message_list"></dl>
</div>
