<div id="code"></div>
<div class="head_line status_line"></div>
<div class="head_line menu">
  <div class="menu_item" id="close">x</div>
  <div class="menu_item selected">info</div>
</div>
<div class="menu_window" id="info">
  <h4 id="editors">Live coders</h4>
  <ul id="editors_list"></ul>
</div>
