<script type="text/javascript" src="<%= base_path %>/js/lib/simpleTimeago.js"></script>
<script type="text/javascript" src="<%= base_path %>/js/index.js"></script>
<div id="container" class="container">
  <div id="codearea">
    <div id="code" class="code"></div>
    <div id="cursor"></div>
  </div>
  <div id="right_pane">
    <div id="stats">
      <span id="editors">0</span> editors,
      <span id="viewers">0</span> viewers
    </div>
    <dl id="messages"></dl>
  </div>
</div>
