<h2>Sign in</h2>
<div class="signin_icon">
  <a href="/signin/twitter"><img src="/img/authbuttons/twitter_128.png"></a>
  Twitter
</div>
<div class="signin_icon">
  <a href="/signin/facebook"><img src="/img/authbuttons/facebook_128.png"></a>
  Facebook
</div>
<div class="signin_icon">
  <a href="/signin/github"><img src="/img/authbuttons/github_128.png"></a>
  Github
</div>
