<script type="text/javascript" src="/js/chat.js"></script>
<script type="text/javascript" src="/js/user.js"></script>
<div id="container">
  <div id="codearea">
    <div id="code"></div>
    <div id="cursor"></div>
  </div>
  <div id="chat">
    <form method="POST" action="" id="chat_form">
      <input type="text" name="chat_message" class="chat_message" />
    </form>
    <dl id="messages"></dl>
  </div>
</div>
