<div id="code"></div><div id="cursor"></div>
<div class="head_line status_line"></div>
<div class="head_line menu">
  <div class="menu_item" id="close">x</div>
  <div class="menu_item selected">chat</div>
  <div class="menu_item">viewers</div>
  <div class="menu_item">info</div>
</div>
<div class="menu_window" id="info">
  <h4>URL</h4>
  <div>
    <div class="info_url">
      <a href="http://<%= req.headers.host + req.url %>">http://<%= req.headers.host + req.url %></a>
    </div>
    <div>
      <a href="http://twitter.com/share" class="twitter-share-button" data-text="I'm viewing livecoding now! #livecoder" data-count="none">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    </div>
  </div>
  <h4>Language</h4>
  <div>
    <select type="selectbox" id="lang" name="lang" disabled>
      <option value="default"></option>
      <option value="c">C</option>
      <option value="java">Java</option>
      <option value="js">JavaScript</option>
      <option value="perl">Perl</option>
      <option value="php">PHP</option>
      <option value="python">Python</option>
      <option value="ruby">Ruby</option>
    </select>
  </div>
</div>
<div class="menu_window" id="viewers">
  <h4 id="viewers_count">viewers</h4>
  <ul id="viewers_list"></ul>
</div>
<div class="menu_window" id="chat">
  <form id="message_form">
    <input type="text" placeholder="message" id="message" class="message">
    <input type="submit" value="send">
  </form>
  <dl id="message_list"></dl>
</div>
