<script type="text/javascript" src="<%= base_path %>/js/chat.js"></script>
<script type="text/javascript" src="<%= base_path %>/js/view.js"></script>
<div id="container" class="container">
  <div id="codearea">
    <div id="code" class="code"></div>
    <div id="cursor"></div>
  </div>
  <div id="right_pane">
    <div id="stats">
      <span id="editing"></span><br />
      <span id="viewers">0</span> viewers.
      <span id="button" style="float: right;"></span>
    </div>
    <form method="POST" action="" id="chat_form">
      <input type="text" name="chat_message" class="chat_message" />
    </form>
    <dl id="messages"></dl>
  </div>
</div>
