.view {
    padding: 20px 15px 10px 15px;
    color: white;
    background-color: black;
    font-family: 'Bitstream Vera Sans Mono', Courier, monospace;
    font-size: 20px;
}

.token_comment {
    color: orange;
}

.token_string {
    color: lime;
}

.token_keyword {
    color: aqua;
}

.ruler_lines {
    color: gray;
    background-color: black;
    border-right: 1px solid #202020;
    text-align: right;
    font-family: 'Bitstream Vera Sans Mono', Courier, monospace;
    line-height: 24px;
}
.ruler_lines_even {
    padding: 0 3px;
    background-color: #202020;
}
.ruler_lines_odd {
    padding: 0 3px;
    background-color: black;
}
