.editor {
    padding: 20px 15px 10px 15px;
    color: white;
    background-color: black;
    font-family: 'Bitstream Vera Sans Mono', Courier, monospace;
    font-size: 20px;
}

.token_comment {
	color: orange;
}

.token_string {
	color: lime;
}

.token_keyword {
	color: aqua;
}
