body {
    font-family: sans-serif;
}

h4 {
    margin: 15px 5px 5px 15px;
    line-height: 18px;
    height: 20px;
}

ul {
    margin-top: 0;
    padding: 10px 35px;
    list-style-type: circle;
}

div#header {
    margin-bottom: 8px;
}

div#socialbuttons {
    position: absolute;
    height: 25px;
    margin: 0 0 0 10px;
    left: 0; bottom: 10px;
}

div#socialbuttons > div {
    float: left;
    margin-top: 7px;
}

div#footer {
    position: absolute;
    height: 20px;
    margin: 10px;
    right: 0; bottom: 0;
}

.logo a {
    font-family: "Courier New", Courier, monospace;
    font-size: xx-large;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}

div#signin {
    position: absolute;
    top: 14px;
    right: 14px;
}

div#signin_list {
    display: none;
    position: absolute;
    right: 0px;
    background-color: #F0F0F0;
    z-index: 1;
}

div#code {
    position: absolute;
    top: 50px; left: 10px; bottom: 36px; right: 10px;
}

.head_line {
    position: absolute;
    top: 50px; right: 10px;
    height: 18px;
    font-family: Helvetica;
    font-size: 13px;
}

div.status_line {
    width: 440px;
    color: white;
    background-color: #606060;
    height: 16px;
    padding: 2px 5px;
}
div.status_line span.time {
    margin-left: 10px;
    font-size: 12px;
    color: #C0C0C0;
}

div.menu {
    cursor: pointer;
}
div.menu_item {
    float: right;
    text-align: center;
    color: white;
    background-color: navy;
    height: 16px;
    padding: 2px 10px;
    border-left: 1px solid gray;
}
div.menu_item:hover {
    background-color: blue;
}
div.menu > div.selected {
    color: black;
    background-color: lightgray;
    cursor: auto;
}

div.menu_window {
    position: absolute;
    top: 50px; bottom: 36px; right: 10px;
    width: 450px;
    background-color: #DDDDDD;
    margin-top: 19px;
}

.menu_window > div {
    margin-left: 30px;
}

div.info_url {
    margin-left: 0;
    margin-right: 10px;
    float: left;
}

ul#editors_list {
    overflow: auto;
    position: absolute;
    left: 0px; top: 40px; bottom: 0px; right: 0px;
    margin-bottom: 0;
}
ul#editors_list li {
    margin-bottom: 5px;
}
ul#editors_list span.info {
    color: gray;
    margin-left: 10px;
    font-size: small;
}

form#message_form {
    margin-bottom: 0;
}
input.message {
    margin: 10px;
    width: 360px;
}
dl#message_list {
    margin: 0;
    font-size: 15px;
    line-height: 20px;
    position: absolute;
    top: 40px; bottom: 0px; right: 0px;
    width: 440px;
    overflow: auto;
}
dl#message_list span.name {
    color: teal;
}
dl#message_list span.time {
    margin-left: 10px;
    font-size: 14px;
    color: gray;
}
dl#message_list .info {
    color: gray;
}
dl#message_list dd {
    margin-left: 20px;
    margin-bottom: 5px;
}

span.count {
    color: darkred;
    font-weight: bold;
    font-size: 18px;
}
ul#viewers_list {
    margin-bottom: 0;
    position: absolute;
    top: 40px; bottom: 0px;
    width: 380px;
    overflow: auto;
}

div#cursor {
    border-right: 1px solid white;
    position: absolute;
}

img {
    border: none;
}
