div#header {
    margin-bottom: 8px;
}

div#footer {
    /* top: auto; */
    /* bottom: 0; */
    /* right: 10px; */
    /* position: absolute; */
    text-align: right;
}

.logo a {
    font-family: monospace;
    font-size: xx-large;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}

div#signin {
    position: absolute;
    top: 8px;
    right: 8px;
}

div#signin_list {
    display: none;
    position: absolute;
    right: 0px;
    background-color: #F0F0F0;
}

div#code {
}

img {
    border: none;
}
