div#header {
    margin-bottom: 8px;
}

div#footer {
    position: absolute;
    height: 20px;
    margin: 10px;
    right: 0; bottom: 0;
}

.logo a {
    font-family: monospace;
    font-size: xx-large;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}

div#signin {
    position: absolute;
    top: 8px;
    right: 8px;
}

div#signin_list {
    display: none;
    position: absolute;
    right: 0px;
    background-color: #F0F0F0;
    z-index: 1;
}

div#code {
    position: absolute;
    top: 50px; left: 10px; bottom: 36px; right: 10px;
}

div#cursor {
    border-right: 1px solid white;
    position: absolute;
}

img {
    border: none;
}
