div#header {
    margin-bottom: 8px;
}

div#footer {
    /* top: auto; */
    /* bottom: 0; */
    /* right: 10px; */
    /* position: absolute; */
    text-align: right;
}

.logo a {
    font-family: monospace;
    font-size: xx-large;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}

div#code {
}

img {
    border: none;
}
