/* default */
body {
    padding-top: 40px;
    margin: 5px 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
    color: #00B7FF;
}

/* topbar */
.topbar a.brand {
    font-family: monospace;
}
.topbar img.icon {
    height: 15px;
    width: 15px;
    margin-right: 5px;
}

/* editor */
.CodeMirror {
    font-family: Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
    font-size: 16px;
}

/* footer */
footer {
    position: absolute;
    background-color: #EEE;
    height: 28px;
    width: 100%;
    bottom: 0px;
}
footer div#socialbuttons {
    position: relative;
    margin-left: 10px;
    bottom: 10px;
}
footer div#socialbuttons .button {
    float: left;
    margin-top: 7px;
}
footer div#credit {
    position: absolute;
    height: 20px;
    margin: 12px;
    right: 0; bottom: 0;
}
