.editor {
    padding: 10px;
    color: white;
    background-color: black;
}

.editorContainer {
    margin: .4em;
    font-family: 'Courier New', monospace;
    font-size: large;
    line-height: 20px;
}

.emphasize {
    color: #FF4040;
    font-weight: bold;
}
