img {
    border: none;
}

div#header {
    text-align: right;
    margin: 10px;
}

div#container {
    float: left;
    margin-left: -340px;
    position: relative;
    right: 100%;
    width: 200%;
}

div#codearea {
    float: left;
    width: 50%;
    left: 50%;
    position: relative;
}

div#code {
    margin-left: 340px;
    height: 440px;
}

div#cursor {
    position: absolute;
    border-right: 1px solid #FF0000;
}

div#chat {
    float: right;
    position: relative;
    left: 340px;
    width: 340px;
}

.chat_message {
    width: 320px;
    margin: 10px;
}

form#chat_form {
    margin-bottom: 0;
}

dl#messages {
    margin: 0 10px;
    font-size: 12.5px;
}

dl#messages > dt {
    color: #808080;
}

dl#messages > dd {
    margin-left: 20px;
}

span.username {
    color: #4040FF;
}
