div#header {
    text-align: right;
    margin: 10px;
}

div#container {
    float: left;
    margin-left: -340px;
    position: relative;
    right: 100%;
    width: 200%;
}

div#codearea {
    float: left;
    width: 50%;
    left: 50%;
    position: relative;
}

div#code {
    margin-left: 340px;
    height: 440px;
}

div#chat {
    float: right;
    position: relative;
    left: 340px;
    width: 340px;
}
