img {
    border: none;
}

div#header {
    text-align: right;
    margin: 10px;
}
div#logo {
    position: absolute;
    top: 10px;
    left: 10px;
    text-align: left;
    font-family: Arial;
    font-size: large;
    font-weight: bold;
}
div#logo a {
    text-decoration: none;
    color: #000000;
}
div#footer {
    text-align: right;
    font-size: small;
    color: #808080;
}

div#container {
    float: left;
    position: relative;
    right: 100%;
    width: 200%;
    margin-left: -340px;
}

div#codearea {
    float: left;
    width: 50%;
    left: 50%;
    position: relative;
}

div.code {
    margin-left: 340px;
    height: 440px;
}
div.code_full {
    height: 400px;
}

div#cursor {
    display: none;
    position: absolute;
    border-right: 1px solid #FF0000;
}

div#right_pane {
    float: right;
    position: relative;
    left: 340px;
    width: 340px;
}

div#stats {
    margin-left: 10px;
}
span#editors, span#viewers {
    color: #0000FF;
}

.chat_message {
    width: 320px;
    margin: 10px;
}

form#chat_form {
    margin-bottom: 0;
}

dl#messages {
    margin: 0 10px;
    font-size: 12.5px;
    height: 400px;
    overflow: auto;
}

dl#messages > dt {
    color: #808080;
}

dl#messages > dd {
    margin-left: 20px;
}

a.message {
    text-decoration: none;
}
span.username {
    color: #4040FF;
}
