<html>
  <head>
    <title>livecoder</title>
  </head>
  <body>
    <div id="header">
    </div>
    <%- body %>
    <div id="footer">
    </div>
    <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-4641008-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
    </script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">google.load("jquery", "1.5.1");</script>
    <script type="text/javascript" src="/js/lib/orion/editor.js"></script>
    <script type="text/javascript" src="/js/lib/orion/model.js"></script>
    <% for (var i = 0, l = jss.length; i < l; i++) { %>
    <script type="text/javascript" src="<%= jss[i] %>"></script><% } %>
  </body>
</html>
