<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Livecoder</title>
    <link rel="shortcut icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
  </head>
  <body>
    <div id="header">
      <span class="logo"><a href="/">Livecoder</a></span>
      <div id="signin"><% if (session.user) { %>
        <%= session.user.name %>
        <a href="/signout">Sign out</a><% } else { %>
        Sign in
        <div id="signin_list">
          <a href="/signin/twitter"><img src="/img/authbuttons/twitter_64.png" /></a>
          <a href="/signin/facebook"><img src="/img/authbuttons/facebook_64.png" /></a>
          <a href="/signin/github"><img src="/img/authbuttons/github_64.png" /></a>
        </div><% } %>
      </div>
    </div>
    <%- body %>
    <div id="socialbuttons">
      <div id="twitter_button">
        <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://livecoder.sugyan.com/" data-text="Livecoder" data-count="horizontal" data-via="sugyan">Tweet</a>
        <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
      </div>
      <div id="facebook_button">
        <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Flivecoder.sugyan.com%2F&amp;layout=button_count&amp;show_faces=false&amp;width=450&amp;action=like&amp;font&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe>
      </div>
    </div>
    <div id="footer">
      created by <a target="_blank" href="http://sugyan.com/">sugyan</a>. | <a href="/about">about</a>
    </div>
    <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-4641008-4']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
    </script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">google.load("jquery", "1.6.1");</script>
    <script type="text/javascript" src="/js/lib/orion/textview/keyBinding.js"></script>
    <script type="text/javascript" src="/js/lib/orion/textview/textModel.js"></script>
    <script type="text/javascript" src="/js/lib/orion/textview/textView.js"></script>
    <script type="text/javascript" src="/js/lib/simpleTimeago/simpleTimeago.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">var socket = new io.Socket(null, { port: <%= port %> });</script>
    <script type="text/javascript" src="/js/livecoder.js"></script>
    <% for (var i = 0, l = jss.length; i < l; i++) { %>
    <script type="text/javascript" src="<%= jss[i] %>"></script><% } %>
  </body>
</html>
